realm:
  grafana:
    rootUrl: https://grafana
    adminUrl: https://grafana
    redirectUris:
      - https://grafana/
      - https://grafana-2/
    webOrigins:
      - https://grafana/
      - https://grafana-2/
  orionPep:
    baseUrl: https://orion-ld
    adminUrl: https://orion-ld
    redirectUris:
      - https://orion-ld/
      - https://orion-ld-2/
    webOrigins:
      - https://orion-ld/
      - https://orion-ld-2/

route:
  enabled: true
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: keycloak.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

tests:
  enabled: true
  username: admin-user
  password: admin-user
  client_id: orion-pep
  client_secret: 978ad148-d99b-406d-83fc-578597290a79

keycloak:
  image:
    repository: quay.io/keycloak/keycloak
    tag: 26.0.0
    pullPolicy: IfNotPresent
  replicaCount: 1
  auth:
    adminUser: fiwareAdmin
    adminPassword: fiwareAdmin
  serviceAccount:
    create: true
  rbac:
    create: true
    rules:
      - apiGroups:
        - security.openshift.io
        resourceNames:
        - anyuid
        resources:
        - securitycontextconstraints
        verbs:
        - use

  keycloakConfigCli:
    enabled: false

  extraEnvVars:
  - name: KC_PROXY
    value: "edge"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_LOG_LEVEL
    value: "INFO"
  - name: KC_HEALTH_ENABLED
    value: "true"
  - name: KC_METRICS_ENABLED
    value: "true"

  podLabels:
    marinera/platform: fiware
    marinera/component:	security
    marinera/subcomponent: auth
    marinera/product: keycloak


  service:
    type: ClusterIP

  resources:
    limits:
      cpu: 7
      memory: 2Gi
    requests:
      cpu: 100m
      memory: 400Mi

  persistence:
    enabled: true
    size: 8Gi
    storageClass: ""
    accessMode: ReadWriteOnce

  metrics:
    enabled: true
    serviceMonitor:
      interval: 30s
  # -- config for setting up the alerts.
  alerting:
    # -- should overall alerting for keycloak be enabled?
    enabled: true
    ## config for enabling alerting on erronous requests
    requestError:
      # -- should it be enabled?
      enabled: true
      # -- how many failed request until the alert fires
      threshold: 25
      # -- timeframe to apply the threshold to
      timeWindow: 15m
      # -- severity of the alert
      severity: warning
  containerPorts:
    management: 9000

  postgresql:
    auth:
      username: bn_keycloak
      password: secretpassword
      replicationPassword: secretreplicationpassword
    primary:
      podSecurityContext:
        enabled: false
      containerSecurityContext:
        enabled: false
      podLabels:
        marinera/platform: fiware
        marinera/component:	security
        marinera/subcomponent: persistence
        marinera/product: postgresql
    architecture: replication
    readReplicas:
      replicaCount: 1
      podSecurityContext:
        enabled: false
      containerSecurityContext:
        enabled: false
    audit:
      clientMinMessages: warning
    metrics:
      enabled: true
      containerSecurityContext:
        enabled: false
      serviceMonitor:
        enabled: true
        interval: 30s
