apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mosquitto.fullname" . }}-config
  labels:
    {{- include "mosquitto.labels" . | nindent 4 }}
data:
  mosquitto.conf: |
    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout
    
    listener 1883
    allow_anonymous {{ .Values.config.allow_anonymous }}
    
    listener 9001
    protocol websockets
    allow_anonymous {{ .Values.config.allow_anonymous }}