apiVersion: v1
kind: Service
metadata:
  name: {{ include "keycloak.fullname" . }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      name: http
    - port: 9000
      targetPort: 9000
      name: http-management
  selector:
    {{- include "keycloak.selectorLabels" . | nindent 4 }}