replicaCount: 1

image:
  repository: fiware/pep-proxy
  pullPolicy: IfNotPresent
  tag: "8.3.0"

config:
  pep:
    app_id: orion-pep
    username: admin-user
    password: admin-user
  idm:
    host: keycloak
    port: 80
    ssl: false
  app:
    host: orion-ld
    port: 1026

service:
  type: ClusterIP
  port: 8080

route: 
  enabled: true
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: keycloak-pep.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 1
    memory: 800Mi
  requests:
    cpu: 50m
    memory: 300Mi

log:
  level: DEBUG
