replicaCount: 2

image:
  repository: docker.io/hopu/keycloak-rest-pep
  pullPolicy: IfNotPresent
  tag: "v18-1.1.0"

service:
  type: ClusterIP
  port: 8080

route: 
  enabled: true
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: keycloak-pep.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  limits:
    cpu: 1
    memory: 800Mi
  requests:
    cpu: 50m
    memory: 300Mi

log:
  level: WARN

keycloak:
  # Optional explicit URL. If empty, it will be constructed from serviceName/port/namespace.
  authServerUrl: ""
  serviceName: keycloak
  port: 80
  realm: fiware-server
  resource: orion-pep
  clientSecret: 978ad148-d99b-406d-83fc-578597290a79
